* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: rgba(114, 230, 61, 0.062);
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  .calculator {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(130px, auto) repeat(5, 100px); //row1 130~auto height, row2~6 100px height
    border: 5px solid black;
    border-radius: 30px 30px 30px 30px;
    background-color: rgb(148, 243, 227);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    margin-bottom: 1rem;

    .displayBox {
      grid-column: 1/5;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-end;
      background-color: black;
      font-family: "Roboto", sans-serif;
      padding: 15px;
      border-radius: 20px 20px 0 0;
      .previousOperand {
        font-size: 1.5rem;
        color: rgb(0, 102, 255);
      }
      .currentOperand {
        font-size: 2rem;
        color: white;
      }
    }
    .allClear,
    .equal {
      grid-column: span 2;
    }

    button {
      cursor: pointer;
      font-size: 2rem;
      border-style: none;
      background-color: rgb(148, 243, 227);

      &:hover {
        color: white;
        background-color: rgba(14, 131, 102, 0.75);
      }
      &:active {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }

    .operator {
      color: white;
      background-color: black;
      border-radius: 30px;
      margin: 10px;
    }
  }

  .allClear,
  .delete {
    color: rgb(87, 156, 173);
  }

  .equal {
    font-size: 3rem !important;
    border-bottom-right-radius: 25px;
  }
  .dot {
    font-size: 3rem !important;
    border-bottom-left-radius: 25px;
    padding-bottom: 25px;
  }

  .number,
  .factorial,
  .equal,
  .dot {
    font-family: "Nanum Pen Script", cursive;
    font-weight: bolder;
    font-size: 3rem !important;
  }

  .footer {
    font-family: "Nanum Pen Script", cursive;
    font-size: 2rem;
  }
}

.buttonHover {
  color: white !important;
  background-color: rgba(14, 131, 102, 0.75) !important;
}

.buttonActive {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

@media screen and (max-width: 779px) {
  * {
    font-size: 0.5rem !important;
  }

  .box .calculator {
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: minmax(70px, auto) repeat(5, 50px);
    border: 2.5px solid black;
    .displayBox {
      border-radius: 25px 25px 0 0;
    }
  }
}
